<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar produto</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form
      th:action="@{/produto/salvar}"
      th:object="${produto}"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="hidden" th:field="*{id}" />

      <label for="nome">Nome:</label>
      <input type="text" th:field="*{nome}" id="nome" required />
      <br />

      <label for="descricao">Descrição:</label>
      <textarea th:field="*{descricao}" id="descricao" required></textarea>
      <br />

      <label for="preco">Preço:</label>
      <input
        th:field="*{preco}"
        type="number"
        step="0.01"
        id="preco"
        required
      />
      <br />
      <label for="quantidade">Quantidade:</label>
      <input
        th:field="*{quantidade}"
        type="number"
        step="1"
        id="quantidade"
        required
      />
      <br />

      <label for="categoria">Categoria:</label>
      <input type="text" th:field="*{categoria}" id="categoria" required />
      <br />

      <label for="fornecedor">Fornecedor:</label>
      <input type="text" th:field="*{fornecedor}" id="fornecedor" required />
      <br />

      <label for="imagem"></label>
      <input type="file" name="imagem" id="imagem" />
    </form>
    <a href="/listar">Cancelar</a>
  </body>
</html>
